.profile .profilephoto {
  border-radius: 100% ;
}

.profile p {
  color:cadetblue;
}
.profile body {
  background-color: beige;
}

.profile p:hover {
  color: #000000;
  font-size:large;
}

.profile .bioHeader {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22pt;
}